html, body {
  margin: 0; padding: 0; width: 100%; height: 100%;
}

.content-list {
  width: 100%;

  /* lol a ton of super annoying flexbox prefixes */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
      display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center; /* space-around also good */
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}

.content-item {
  display: block;
  margin: 0; padding: 0;
  height: 333px;
  flex-grow: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cover-image {
  position: absolute;
  top: 25px; right: 25px;
  max-width: 666px;
  box-shadow: 0 10px 15px 5px rgba(0,0,0,0.35), 0 6px 6px rgba(0,0,0,0.5);
}

.audio-player {
  position: fixed;
  top: 20px; left: 20px;

  color: white;
  font-family: 'Raleway', sans-serif;
}

.track-title {
  font-size: 64px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

.track-number, .track-time {
  display: inline-block;
  margin: 12px 20px 6px 0;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.65);
  font-size: 22px;
}

.audio-player-button {
  display: inline-block;
  margin: 12px 20px 0 0;
  cursor: pointer;

  font-size: 21px;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.85);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
  .audio-player-button:hover, .audio-player-button:focus {
    text-decoration: underline;
  }

.transparent {
  opacity: 0;
  cursor: default;
}

.big-font {
  font-size: 50px;
  margin-left: -20px;
}
